NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_FACTORY_ADDRESS=0xBF5163D30a914d907BE2fB9973940668e404127e
NEXT_PUBLIC_CUSD_ADDRESS=0x42eB87cb7d1bb5A83cE15b4f2a34e1722Bd43f4b
