NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_FACTORY_ADDRESS=0xda773c04e5a53A904fdD44B04589ABEC1BF9242B
NEXT_PUBLIC_CUSD_ADDRESS=0xe426357CC73F67efa9bC5741b4875a6a52a55c99
NEXT_PUBLIC_LIVE_CAMPAIGN_ADDRESS=0xE245364F51fe16F40D4bD87e43c8881161dE2DB3
